@charset "utf-8";

/*-----------------------------------------------
main
-----------------------------------------------*/

div#main {
	position: relative;
	width: 1230px;
	height: 1788px;
	margin: 0 auto;
}

div#main div.visual {
	position: absolute;
	top: 0;
	left: 0;
	width: 1230px;
	height: 1788px;
}

div#main div.visual img {
	width: 1230px;
	height: 1768px;
	padding-top: 20px;
}

div#main div.name-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 1230px;
	height: 1768px;
	background-image: url(../img/name.png);
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}


/* ズーム */

body.off {
	cursor: auto !important;
}

div#ok-loupe.off {
	display: none !important;
}

div#ok-loupe {
	cursor: pointer !important;
	background-color: #b7afac !important;
}

div#main h1 {
	position: absolute;
	top: 0;
	left: 73px;
	line-height: 0;
	margin: 0;
}

div#main div.label {
	position: absolute;
	top: 0;
	left: 412px;
	line-height: 0;
}

div#main p.txt {
	position: absolute;
	top: 42px;
	left: 476px;
	width: 670px;
	line-height: 1.4;
	font-size: 12px;
	color: #fff;
}

div#main div.select {
	cursor: pointer;
	z-index: 9000;
	position: absolute;
	top: 27px;
	left: 1168px;
}

div.select2 {
	display: none;
}


/*-----------------------------------------------
visual
-----------------------------------------------*/

/*div#main div.image1 {
	position: absolute;
	top: 0px;
	left: 0px;
}*/


div.copy {
	position: absolute;
	top: 1736px;
	left: 0;
}


/*-----------------------------------------------
detail
-----------------------------------------------*/

div#main div.detail p {
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
}

div#main div.detail {
	position: absolute;
	padding: 13px;
	background-color: rgba(183, 175, 172, 0.9);
}

div#main div.detail div.bdT {
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
}

div#main div.detail div.bdB {
	width: 100%;
	height: 1px;
	bottom: 0;
	right: 0;
}

div#main div.detail div.bdR {
	height: 100%;
	width: 1px;
	right: 0;
	top: 0;
}

div#main div.detail div.bdL {
	height: 100%;
	width: 1px;
	left: 0;
	bottom: 0;
}

div#main div.detail div {
	background: #fff;
	position: absolute;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

div#main div.detail {
	opacity: 0;
	transition: all 1s;
}

div#main div.detail.active {
	opacity: 1;
	transition: all 1s;
}

div#main div.detail.active div {
	opacity: 1;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

div#main div.detail.active div.bdT {
	opacity: 1;
	width: 100%;
	height: 1px;
	transition-delay: 0.3s;
}

div#main div.detail.active div.bdL {
	opacity: 1;
	height: 100%;
	width: 1px;
	transition-delay: 0.2s;
}

div#main div.detail.active div.bdB {
	opacity: 1;
	width: 100%;
	height: 1px;
	transition-delay: 0.1s;
}

div#main div.detail.active div.bdR {
	opacity: 1;
	height: 100%;
	width: 1px;
	transition-delay: 0s;
}

div#main div.detail {
	opacity: 0;
	transition: all 1s;
}

div#main div.detail div.bdT {
	width: 0;
	transition-delay: 0s;
}

div#main div.detail div.bdL {
	height: 0;
	transition-delay: 0.1s;
}

div#main div.detail div.bdB {
	width: 0;
	transition-delay: 0.2s;
}

div#main div.detail div.bdR {
	height: 0;
	transition-delay: 0.3s;
}

div#main div.detail1 {
	top: 135px;
	left: 526px;
	width: 500px;
}

div#main div.detail2 {
	top: 195px;
	left: 70px;
	width: 600px;
}

div#main div.detail3 {
	top: 455px;
	left:125px;
	width: 600px;
}

div#main div.detail4 {
	top: 430px;
	left: 810px;
	width: 380px;
}

div#main div.detail5 {
	top: 820px;
	left: 145px;
	width: 500px;
}

div#main div.detail6 {
	top: 845px;
	left: 870px;
	width: 300px;
}

div#main div.detail7 {
	top: 1260px;
	left: 100px;
	width: 500px;
}

div#main div.detail8 {
	top: 1330px;
	left: 645px;
	width: 500px;
}


/*-----------------------------------------------
name
-----------------------------------------------*/

p.name {
	z-index: 9000;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	margin: 0;
}

p.name1 {
	cursor: pointer;
	position: absolute;
	top: 70px;
	left: 660px;
}

p.name2 {
	cursor: pointer;
	position: absolute;
	top:410px;
	left: 70px;
}

p.name3 {
	cursor: pointer;
	position: absolute;
	top: 760px;
	left: 125px;
}

p.name4 {
	cursor: pointer;
	position: absolute;
	top: 400px;
	left: 810px;
}

p.name5 {
	cursor: pointer;
	position: absolute;
	top: 820px;
	left: 680px;
}

p.name6 {
	cursor: pointer;
	position: absolute;
	top: 1170px;
	left: 870px;
}

p.name7 {
	cursor: pointer;
	position: absolute;
	top: 1570px;
	left: 100px;
}

p.name8 {
	cursor: pointer;
	position: absolute;
	top: 1580px;
	left: 1140px;
}

/*-----------------------------------------------
rewrite
-----------------------------------------------*/

.postContents #aoz img {
	padding: 0;
	margin-top: 0;
}

h3.ttlC {
	display: none;
}

#contents {
	background-color: #B8AFAC;
}

#contents {
	padding-top: 0;
}


/* リニューアル後追加 */

#contents {
	width: auto;
	margin-bottom: 0;
	padding-bottom: 0;
}

div.postContents img {
	border: none;
}

.postContents {
	border: none;
	margin-top: 0;
	padding-top: 0;
}
