@charset "utf-8";

/*-------------------------------------------------------------------clearfix*/
/*---------------------------------------------------------------------------*/

.clearfix:after {
	content: "."; 
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/*---------------------------------------------------------------------ボタン*/
/*---------------------------------------------------------------------------*/
.btn a:hover{
	opacity: 0.8;
	animation: btnmotion 0.5s;
	-webkit-animation: btnmotion 0.5s;
	-moz-animation: btnmotion 0.5s;
}

@media screen and (max-width:767px) and (min-width: 1px){
	
	.btn a:hover{
		opacity: 1;
		animation: none;
		-webkit-animation: none;
		-moz-animation: none;
	}
}

@keyframes btnmotion {
	0% { 
		opacity: 1;
	}
	10% { 
		opacity: 0.4;
	}
	100% {
		opacity: 0.8;
	}
}

@-webkit-keyframes btnmotion {
	0% { 
		opacity: 1;
	}
	10% { 
		opacity: 0.4;
	}
	100% {
		opacity: 0.8;
	}
}
@-moz-keyframes btnmotion {
	0% { 
		opacity: 1;
	}
	10% { 
		opacity: 0.4;
	}
	100% {
		opacity: 0.8;
	}
}

